.cartItem {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.cartItem img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


@media only screen and (max-width:600px) {
    .cartItem {
        flex-direction: column;
    }
}